@use 'node_modules/utopia-core-scss/src/utopia' as utopia;

$body_font: "Manrope", sans-serif;
$heading_font: "Arlen", sans-serif;
$mono_font: monospace;

$dark: #000;
$light: #FFF;
$muted: fade-out(#fff, 0.5);
$grey: #76756E;

$accent: #DD3A6C;
$accent-light: #E6B5B9;
$accent-dark: #723555;

$base: 16px;
  
/* @link https://utopia.fyi/type/calculator?c=375,16,1.333,1440,16,1.414,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  @include utopia.generateTypeScale((
    "minWidth": 375,
    "maxWidth": 1440,
    "minFontSize": 16,
    "maxFontSize": 16,
    "minTypeScale": 1.333,
    "maxTypeScale": 1.414,
    "positiveSteps": 6,
    "negativeSteps": 2,
    "prefix": "step-",
    "relativeTo": "viewport-width"
  ));
}

// $s-3: var(--step--3);
$s-2: var(--step--2);
$s-1: var(--step--1);
$s0: var(--step-0);
$s1: var(--step-1);
$s2: var(--step-2);
$s3: var(--step-3);
$s4: var(--step-4);
$s5: var(--step-5);
$s6: var(--step-6);
// $s7: var(--step-7);

$radius: $s1;
$max: 1440px;

$mobile: 888px;

$number_of_columns: 12;